<div class="hover:cursor-grabbing absolute bg-slate-50"
     data-controller="elements--interact"
     data-elements--interact-target="element"
     data-elements--interact-element-id-value="<%= element.id %>"
     data-elements--interact-website-id-value="<%= element.website.id %>"
     data-elements--interact-element-object-value="<%= element.attributes.to_json %>"
     style="width: 100%; height: 960px; top: <%= element.y %>px; left: <%= element.x %>px">
  Div
</div>