<!DOCTYPE html>
<html>
  <head>
    <title>WebBuilder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>


    <%= vite_javascript_tag 'application' %>
    <%= vite_client_tag %>
  </head>

  <body data-turbo="false">
    <%= turbo_frame_tag 'modal' %>

    <main class="flex h-screen overflow-hidden bg-slate-200">
      <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
